!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/site.css')
    link(rel="icon", href='/images/favicon.ico')
    script(type="text/javascript", src="/socket.io/socket.io.js")
  body!= body
